<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stupidhacks.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="jumbotron text-center">
    <h1>3RD DEGREE BURNT SIENNA</h1>
    <p>ARTIFICIAL UNINTELLIGENCE</p> 
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form action="submit" method="">
                    <input type="text" name="info"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-sm-6">
                <textarea rows="20" cols="50">
                    {{ info }}
                </textarea>
            </div>
        </div>
    </div>

</textarea>