<!DOCTYPE html>
<html lang="en">
<head>
  <title>AU Coder</title>
  <link rel="icon" href="/static/img/small_logo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stupidhacks.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="jumbotron">
        <img src="/static/img/big_logo.svg" width="30%">
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form action="submit" method="">
                        <textarea name="info" id="textarea" class="boxsizingBorder" rows="15" cols="50"></textarea>
                        <input type="submit" value="Generate Code!!"><br>

                    <!-- <div class="row">
                    
                        <div class="col-sm-12">
                            <input type="text" name="info"><br>
                        </div>
                        <div id="emptySpace">
                            
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary fullWidth" id="addQuestion" value="Add Question">Add Question</button>
                        </div>
                        
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button id="send" typevalue="Generate Code!!">Generate Code!!</button>
                    </div>
                </div> -->
                </form>

            </div>
            
            <div class="col-sm-6">
                <textarea readonly class="boxsizingBorder" rows="15" cols="50">{% for answer in answers %}{{ answer }}{% endfor %}</textarea>
            </div>
        </div>
    </div>
    <script>
        // $(document).ready(function(){
        //     $(document).on('click','#addQuestion', function(){
        //         var emptySpace = document.getElementById('emptySpace');
        //         emptySpace.innerHTML = emptySpace.innerHTML + '<div class="col-sm-12"><input type="text" name="info"><br></div>';
        //     })
        // })
    </script>
</body>
</html>
